$primary: #400080;

@import "bootstrap/bootstrap";
@import "ace";
@import "kanzan/kanzan";
@import "signature";

.card-body > p:last-child {
    margin-bottom: 0;
}

.rc-page {
    @extend .px-1, .d-inline-block;
    background: #1c1c1c;
    color: #eeeeee;
}

.rc-tab {
    @extend .px-1, .d-inline-block;
    background: #d9ecf4;
    color: #376572;
}

blockquote {
    @extend .bg-light, .p-3;
}

/* Typography styling */
.main > h1{
    padding-top: 0;
}

.main > h2{
    padding-top: 2rem;
    margin-top:-1rem;
}

.main > h3, .main > h4, .main > h5, .main > h6{
    padding-top: 2rem;
    margin-top:-2rem;
}
