@import "navbar";
@import "sidebar";

body {
    font-size: .875rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

a {
    color: #794ca6;
}

.app-name {
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: .25ex;
}
