<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
{{ $script := resources.Get "js/password.js" | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
<div class="fixed-bottom text-center h5 p-3 d-none">
    <span class="badge badge-pill badge-dark font-weight-normal px-3 py-2 invisible" id="password-notification">Notification</span>
</div>